* {
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    justify-content: space-between; /* Aligne les éléments à l'extrémité gauche et droite du header */
    align-items: center; /* Centre verticalement les éléments dans le header */
    padding: 1em 1em; /* Espacement intérieur du header */
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  

h1 {
    font-size: 1.5em;
}

/* Style du logo */
.logo img {
    width: 5em; /* Largeur du logo */
    height: auto; /* Hauteur automatique en maintenant les proportions */
}

/* Style de la barre de navigation */
nav ul {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 20px; /* Espacement entre les éléments de menu */
}

nav a {
    text-decoration: none;
    color:black;
}

/* Changement de couleur au survol */
nav a:hover {
    color: #0065FC;
}