* {
  font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
  padding-right: 0px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 518.601px;
  align-self: stretch;
}

.logo {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.logo img {
  width: 5rem;
  height: auto;
}

.menu {
  display: flex;
  padding: 0px 50px;
  flex-direction: column;
  align-items: center;
  gap: 68px;
}

.menubuttons {
  display: flex;
  gap: 68px;
}

.menubuttons a {
  text-decoration: none;
  color: black;
}

.menubuttons a:hover {
  color: #0065FC;
}

body {
  display: flex;
  padding: 0px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  align-self: stretch;
}

.infogroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  align-self: stretch;
}

.headline {
  display: flex;
  height: 53px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.headline h1 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 4px;
}

.headline p {
  font-size: 16px;
  margin-top: 4px;
}

.searchbar {
  display: flex;
}

.searchbar i {
  background-color: #F2F2F2;
  padding: 1rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px #F2F2F2 solid;
}

.searchbar input {
  padding: 1rem;
  border: 1px #F2F2F2 solid;
  font-size: 18px;
  font-weight: 700;
}

.searchbar input::placeholder {
  color: black;
}

.searchbar button {
  background-color: #0065FC;
  border-color: #0065FC;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-style: solid;
  padding: 1rem;
}

.filterbar {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 15px;
}

.filterbar p {
  font-size: 18px;
  font-weight: 700;
}

.filtersbutton button {
  display: inline-flex;
  height: 50px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: white;
  border-color: #D9D9D9;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 700;
  padding: 1rem;
  border-style: solid;
}

.filtersbutton button:active {
  background-color: #DEEBFF;
}

.infobar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.offers-main {
  display: flex;
  padding: 30px;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px;
  background-color: #F2F2F2;
}

.offers-main h1 {
  font-size: 22px;
  font-weight: 700;
}

.frame15{
  display: flex;
  gap: 30px;
}

.card-main {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  gap: 4px;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 15px;
}

.rectangle20 {
  border: 5px solid white;
  height: 124px;
}

.rectangle20 img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 124px;
  width: 250px;
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
}

.card-description {
  font-size: 14px;
  font-weight: 400;
}

.frame16 {
  display: flex;
  padding: 0px 15px;
  flex-direction: column;
  gap: 8px;
}